#ButtonBoard button {
	padding: 0 0 0 1vw;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 72px;
	font-size: 1.4em;
	background: transparent;
	position: relative;
	z-index: 1;
}

#ButtonBoard * {
	position: relative;
	z-index: -1;
}

#ButtonBoard img {
	width: auto;
	height: 6vw;
	max-height: 68px;
}

.points {
    background: var(--blue);
    width: 2.5em;
    display: flex;
    height: 68px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    grid-column: 2 / 3
}

#ButtonBoard #bank, #ButtonBoard #makinBacon, #ButtonBoard #pigOut {
	background: var(--blue);
	color: #fff;
	font-weight: bold;
	justify-content: center;
}

.rolls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 1 / 2;
}

.rollGroup + .rollGroup:before {
    content: '/';
    font-size: 200%;
    color: var(--lightgray);
    margin: 0 0.2em;
}

@media (max-width: 768px) {
	#ButtonBoard button {
		height: 56px;
	}
	.points {
		height: 52px;
	}
}