#ButtonBoard button {
	padding: 0 1vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	font-size: 1.4em;
	background: transparent;
	position: relative;
	z-index: 1;
}

#ButtonBoard label, #board-left div, #board-right div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#ButtonBoard input[type=radio] {
    position: absolute;
    opacity: 0;
    left: -100vw;
}


#ButtonBoard input[type=radio] + label img {
	filter: saturate(0);
	opacity: .5;
	transition: all .14s cubic-bezier(0.51, -0.38, 0.26, 3.01);
}

#ButtonBoard input[type=radio]:checked + label img {
	opacity: 1;
	transform: scale(1.6);
	filter: saturate(100%);
	z-index: 2;
}

#ButtonBoard img {
	width: auto;
	height: 6vw;
	max-height: 10vh;
}

@media (max-width: 768px) {
	#ButtonBoard img {
		height: auto;
	}
	#ButtonBoard button {
		font-size: calc(.5em + 2.5vw);
	}
	.points {
		height: 52px;
	}
}