#modal-holder {
	position: fixed;
	transition: var(--transition);
	z-index: 11;
}

.modal {
	position: fixed;
	left: calc(50vw - 230px);
	top: calc(30vh);
	z-index: 10;
	width: 460px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	opacity: 1;
	transition: var(--transition);
}

#curtain {
	position: fixed;
	z-index: 9;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	opacity: 1;
	transition: opacity .6s ease-in-out;
	background: rgba(0,0,0,.6);
}

.modal .modal-box {
	box-sizing: border-box;
	font-size: calc(.8em + 1vw);
	background: rgba(255,255,255,.9);
	border: 2px solid var(--lightgray);
	border-radius: var(--radius);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem;
	position: relative;
	transition: var(--transition);
	z-index: 9999;
}

.modal input {
	width: 100%;
	font-size: 1.4rem;
	font-family: var(--font);
	/*margin-bottom: .4em;*/
	border: 2px solid var(--lightgray);
	padding: .3em;
}

.modal button, .modal input[type=submit]{
	background: var(--blue);
	font-size: .8em;
	padding: .5em;
	color: #fff;
	font-weight: bold;
	line-height: 1.5em;
	width: auto;
	line-height: 1;
	margin-top: .5em;
	flex: 1 1 100%;
}

.modal label {
	margin-bottom: .2em;
}

.button-group {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.button-group > * {
	flex: 1 1 50% !important;
}

.button-group > *:not(:last-child){
	margin-right: 1em;
}

@media (max-width: 768px) {
	.modal {
		left: 5vw;
		width: 90vw;
	}
	.modal button, .modal input[type=submit]{
		font-size: 1em;
	}
}