#ButtonBoard {
	grid-column: 2/3;
	padding: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 1vw;
	height: auto;
	max-height: calc(100vh - 160px);
}

#ButtonBoard div {
	position: relative;
}

#board-left, #board-right {
	grid-row: span 6;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1vw;
}

#board-left {
	grid-column: 1 / 2;
}

#board-right {
	grid-column: 2 / 3;
}

#board-right:before {
    position: absolute;
	height: 88.4%;
    top: 5.8%;
    left: -.5vw;
    content: '';
    border-left: 1px solid #eee;
}

/*Used to do the arrows with CSS but that was less fancy*/
/*#ButtonBoard input[type=radio]:checked + label:after {
	transition: var(--transition);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid #eee;
    right: -.5vw;
    top: calc(50% - 8px);
}

#ButtonBoard #board-right input[type=radio]:checked + label:after {
	border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid #eee;
    left: -.4vw;
}*/

#ButtonBoard #board-left-arrow, #ButtonBoard #board-right-arrow {
	position: absolute;
	grid-row: 1;
	grid-column: 1;
	height: 0;
	width: 0;
	border-right: 8px solid #ddd;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid transparent;
	right: -.5vw;
	top: 0;
	transition: .4s cubic-bezier(0.85,-0.28, 0.06, 1.31);
	transform: translateY(100vh);
}

#ButtonBoard #board-right-arrow {
	border-left: 8px solid #ddd;
	border-right: 8px solid transparent;
	left: -.5vw;
}

#ButtonBoard #bank, #ButtonBoard #makinBacon, #ButtonBoard #countEm {
	background: var(--blue);
	border-color: var(--blue);
	color: #fff;
	font-weight: bold;
	justify-content: center;
}

#ButtonBoard #countEm {
	grid-row: 2 / -1;
	grid-column: 3 / 4;
}

#ButtonBoard #countEm.roll-again {
	grid-row: 4 / -1;
}

#ButtonBoard #bank {
	grid-row: 2 / span 2;
	grid-column: 3 / 4;
}

button span {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

button span.roll-announcement {
    font-weight: normal;
}

.button-highlight {
    margin-top: 0.2em;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.8em;
}

@media (max-width: 768px){
	#ButtonBoard {
	    grid-column: 1 / -1;
	    padding: 1em;
	    grid-gap: 12px;
	}
	#board-right:before {
	    left: -6px;
	}
	#ButtonBoard #board-left-arrow {
	    right: -6px;
	}
	#ButtonBoard #board-right-arrow {
	    left: -5px;
	}
}