.App-sidebar {
	grid-column: 1/2;
	grid-row: 2/3;
	background-color: var(--blue);
	padding: 2em;
	transition: var(--transition);
}


@media (max-width: 760px){
	.App-sidebar {
		padding: 1em;
	    grid-column: 1 / 2;
	    grid-row: 2/-1;
	    position: absolute;
	    width: 100vw;
	    min-height: calc(100vh - 80px);
	    z-index: 7;
	    top: 80px;
	    left: -100vw;
	}
}