@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i';

:root {
  --blue: #7BA7BC;
  --yellow: #ffd100;
  --darkgray: #53565a;
  --lightgray: #a7a8aa;
  --font: 'Lato', 'Bitter', sans-serif;
  --transition: .6s cubic-bezier(0.85,-0.28, 0.06, 1.31);
  --radius: 6px;
}

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: var(--yellow) auto 13px;
}

.hidden {
  opacity: 0!important;
  position: fixed!important;
  top: -100vh!important;
  z-index: 10;
  transition: var(--transition);
}

.disabled {
  background: var(--lightgray)!important;
  opacity: .5;
  cursor: initial;
}

.slide-in {
  left: 0!important;
}

.App {
  text-align: center;
  font-family: var(--font);
}

body, .App-header, .App {
  display: grid;
  grid-template-columns: minmax(min-content, 3fr) minmax(400px, 5fr);
  width: 100%;
}

#root, .App, .App-header {
  grid-column: 1 / -1;
}

.App {
  grid-template-rows: 80px 1fr 80px;
}

#root, .App, body {
  height: 100vh;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button, input[type=submit] {
  font-family: var(--font);
  font-size: 1.1em;
  display: block;
  border: 2px solid var(--lightgray);
  border-radius: var(--radius);
  width: 100;
  padding: .3em .5em;
}

input {
  border-radius: var(--radius);
}

@media (max-width: 768px){
  body, .App-header, .App {
    grid-template-columns: 1fr;
  }
  #root, .App, body {
    height: auto;
  }
  .App {
      grid-template-rows: 80px auto 80px;
      width: 100vw;
      height: 100vh;
      grid-template-columns: 1fr;
  }
}
